
BookSamsysAPI/.vs/BookSamsysAPI/config/applicationhost.config
BookSamsysAPI/.vs/BookSamsysAPI/FileContentIndex/1c7bd152-e7a5-403e-a570-d4d305e80308.vsidx
BookSamsysAPI/.vs/BookSamsysAPI/FileContentIndex/51ebb215-bec5-494a-8a9a-44fc46c56761.vsidx
BookSamsysAPI/.vs/BookSamsysAPI/FileContentIndex/971678e0-5983-45e7-8124-a05260e3d560.vsidx
BookSamsysAPI/.vs/BookSamsysAPI/FileContentIndex/9fc386f8-8736-4979-8073-96806d81dc65.vsidx
/BookSamsysAPI/.vs
/BookSamsysAPI/bin/Debug/net8.0
/BookSamsysAPI/obj/Debug/net8.0
